bank.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="https://www.example.com"
    xmlns="https://www.example.com"
    elementFormDefault="qualified">

    <xs:element name="bank">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="transaction_date" type="xs:date"/>
                <xs:element name="transaction_ref">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[A-Z][A-Z][A-Z][A-Z][0-9][0-9][0-9][0-9][0-9][0-9]"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="account_name" type="xs:string"/>
                <xs:element name="transaction_type" type="xs:string"/>
                <xs:element name="amount" type="xs:decimal"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>