entertainment.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="https://www.example.com"
    xmlns="https://www.example.com"
    elementFormDefault="qualified">

    <xs:element name="entertainment">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="movie_id" type="xs:string"/>
                <xs:element name="title" type="xs:string"/>
                <xs:element name="release_date">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="year" type="xs:integer"/>
                            <xs:element name="month" type="xs:string"/>
                            <xs:element name="date" type="xs:integer"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="genre" type="xs:string"/>
                <xs:element name="language" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>