management.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="https://www.example.com"
    xmlns="https://www.example.com"
    elementFormDefault="qualified">

    <xs:element name="management">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="lastName" type="xs:string"/>
                            <xs:element name="firstName" type="xs:string"/>
                            <xs:element name="middleName" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="age" type="xs:integer"/>
                <xs:element name="DOB">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="year" type="xs:integer"/>
                            <xs:element name="month" type="xs:string"/>
                            <xs:element name="date" type="xs:integer"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="course" type="xs:string"/>
                <xs:element name="year_section" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
